!*.c
!*.h
!*.asm
!*.s
!*.txt

*.log
*.plg
*.bak
*.dep
*.uvgui.*
JLinkLog.txt
*.o
*.d
*.lst
*.crf
*.tra
*.axf
*.hex
*.lnp
*.sct
*.__i
*._2i
*.htm
*.html
*.map
*.Vishwas
*.bin
*.fed
*.uvopt
*.uvproj
*.l1p
*.l2p
*.bmp
*.jpg
*.chm